

.select {
    position: relative;
    display: grid;
    min-width: 130px;
    /* @media all and (max-width: 976px) {
        min-width: 320px;
        // row-gap: normal;
    }

    @media all and (max-width: 576px) {
        width: 100%;
        min-width: auto;
        
        // flex-direction: column;
        // min-width: 320px;
        // row-gap: normal;
    } */

    
}

.select__list{
    position: absolute;
    inset: 0;
    display: grid;
    z-index: 5;
    
}

.select__button {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 5px 15px;
    justify-content: space-between;
    gap: 15px;
    background-color: var(--color-white);
    border-bottom: 1px solid transparent;  
}


.select__button:hover,
.select__button:focus-visible {
    background-color: var(--border-circle);
}

.select__button:not(:last-child) {
    border-bottom: 1px solid var(--border-circle);
   
}

.select__button:not(:first-child) {
    box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, .07);
}

svg {
    position: relative;
    z-index: 10;
    transition: rotate 0.2s ease;
}